:root{
    --bg-gradiant: linear-gradient(to right, #000000 30%, #a8a8a8 90%, #ffffff); /* Gradiente para el fondo */
    --bg-gris: #a8a8a8; /* Color gris */
    --bg-radial: radial-gradient(circle,#c5c3c3 20px, #666666 100px); /* Gradiente radial */
    --bg-h2: linear-gradient(to right, #fd0000 30%, #000000 80%); /* Gradiente para h2 */
    --bg-h: linear-gradient(to left, #fd0000 30%, #000000 80%); /* Gradiente para h1 */
    --bg-h1: linear-gradient(to left, #fd0000 80%, #000000 99%); /* Gradiente para h1 */
    --bg-corner: linear-gradient(230deg,#1b1b1b, #919191); /* Gradiente para el fondo principal */
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; /* Fuente predeterminada */
}

main{
    background: var(--bg-corner); /* Fondo con gradiente */
    
    & h1{
        background: var(--bg-h1); /* Gradiente para h1 */
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 30px 15px 20px;
    }

    .conjunto{
        padding: 20px 20px;
        justify-content: center;

        & h2{
            background: var(--bg-h2); /* Gradiente para h2 */
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
        }

        & h4{
            margin: 30px 0px 0px;

            & i:hover{
                color: red; /* Iconos en rojo al pasar el mouse */
                cursor: default;
            }
        }

        img[src="..\\Img\\Localización.png"] {
            border-radius: 100%; /* Imagen redonda */
            width: 100px;
            height: 100px;
            margin: 10px 0px;
            transition: transform 0.3s ease; /* Transición suave */
        }
        
        img[src="..\\Img\\Localización.png"]:hover {
            transform: scale(1.1); /* Efecto de escala al pasar el mouse */
            border-radius: 0%;
            box-shadow: 0 10px 30px rgb(216, 19, 19); /* Sombra roja */
            margin: 50px 50px;
            width: 800px;
            height: 400px;
        }

        #formulario{
            display: flex;
            flex-direction: column;

            div{
                margin-bottom: 20px;
            }

            input[type="radio"] {
                margin: 5px;
            }

            input[type="checkbox"] + label {
                margin-left: 10px; 
            }

            label + input[type="text"], input[type="email"] {
                display: flex;
                flex-direction: column;
                width: 200px;         
            }
            
            label + textarea{
                display: flex;
                flex-direction: column;
                width: 250px;         
            }

            button{
                cursor: pointer;
                width: 75px;
            }
        }
    }
}

header{
    text-align: center;
    margin: 10px 0px 0px;

    & h1{
        font-size: 25px;
        font-variant: small-caps;
        background: var(--bg-h); /* Gradiente para h1 */
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & h2{
        font-variant: small-caps;
        font-size: 20px;
        margin-bottom: 5px;
        background: var(--bg-h2); /* Gradiente para h2 */
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    nav{
        background: var(--bg-gradiant); /* Fondo con gradiente */
        width: 100%;
        padding: 10px;

        & ol{
            margin: 0px;
            padding: 1px;
            text-align: center;
            list-style: none;

            & li{
                display:inline-block;
                margin-right: 15px;
                margin-left: 15px;
            }

            & a{
                color: white; /* Enlaces en blanco */
                text-decoration: none;
                font-size: 15px;
            }

            & a:hover{
                color: red /* Enlaces en rojo al pasar el mouse */
            }
        }
    }  
}

footer{
    text-align: center;
    background: var(--bg-gradiant); /* Fondo con gradiente */
    padding: 20px 0px;
    color: white;
    letter-spacing: 2px;

    & a{
        color: white; /* Enlaces en blanco */
    }

    & a:hover{
        color: red /* Enlaces en rojo al pasar el mouse */
    }

    .social{
        margin: 10px;
    }

    p span{
        color: red; /* Texto en rojo */
    }
}