:root{
    --bg-gradiant: linear-gradient(to right, #000000 30%, #a8a8a8 90%, #ffffff); /* Gradiente para el fondo */
    --bg-gris: #a8a8a8; /* Color gris */
    --bg-radial: radial-gradient(circle,#c5c3c3 20px, #666666 100px); /* Gradiente radial */
    --bg-h2: linear-gradient(to right, #fd0000 30%, #000000 80%); /* Gradiente para h2 */
    --bg-h: linear-gradient(to left, #fd0000 30%, #000000 80%); /* Gradiente para h1 */
    --bg-tarjeta: #868686; /* Color de fondo de las tarjetas */
    --bg-corner: linear-gradient(230deg, #919191, #1b1b1b); /* Gradiente para el fondo principal */
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; /* Fuente predeterminada */
}

main{
    background: var(--bg-corner); /* Fondo con gradiente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        margin-top: 15px;
        background: var(--bg-h); /* Gradiente para h1 */
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2{
        font-size: 18px;
        background: var(--bg-h2); /* Gradiente para h2 */
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 10px;
    }

    .proyectos{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Grid de 2 columnas */
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .tarjetaP{
            overflow: hidden;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
            margin: 10px 10px;
            position: relative;
            width: 450px;
            text-align: center;

            h5{
                background: var(--bg-h2); /* Gradiente para h5 */
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 20px;
                font-variant: small-caps;
            }
            
            .cardP{
                background: var(--bg-tarjeta); /* Fondo de la tarjeta */
            }

            :hover img{
                transform: scale(1.05); /* Efecto de escala al pasar el mouse */
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* Sombra */
            }

            & img{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-fit: cover;
                height: 400px;
                width: 450px;
            }

            i{
                color: red; /* Iconos en rojo */
            }
        }
    }
}

header{
    text-align: center;
    margin: 10px 0px 0px;

    & h1{
        font-size: 25px;
        font-variant: small-caps;
        background: var(--bg-h); /* Gradiente para h1 */
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & h2{
        font-variant: small-caps;
        font-size: 20px;
        margin-bottom: 5px;
        background: var(--bg-h2); /* Gradiente para h2 */
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    nav{
        background: var(--bg-gradiant); /* Fondo con gradiente */
        width: 100%;
        padding: 10px;

        & ol{
            margin: 0px;
            padding: 1px;
            text-align: center;
            list-style: none;

            & li{
                display:inline-block;
                margin-right: 15px;
                margin-left: 15px;
            }

            & a{
                color: white; /* Enlaces en blanco */
                text-decoration: none;
                font-size: 15px;
            }

            & a:hover{
                color: red /* Enlaces en rojo al pasar el mouse */
            }
        }
    }  
}

footer{
    text-align: center;
    background: var(--bg-gradiant); /* Fondo con gradiente */
    padding: 20px 0px;
    color: white;
    letter-spacing: 2px;

    & a{
        color: white; /* Enlaces en blanco */
    }

    & a:hover{
        color: red /* Enlaces en rojo al pasar el mouse */
    }

    .social{
        margin: 10px;
    }

    p span{
        color: red; /* Texto en rojo */
    }
}