:root{
    --bg-gradiant: linear-gradient(to right, #000000 30%, #a8a8a8 90%, #ffffff);
    --bg-gris: #a8a8a8;
    --bg-radial: radial-gradient(circle,#c5c3c3 20px, #666666 100px);
    --bg-h2: linear-gradient(to right, #fd0000 30%, #000000 80%);
    --bg-h: linear-gradient(to left, #fd0000 30%, #000000 80%);


}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    grid-area: header;
    text-align: center;
    margin: 10px 0px 0px;

    & h1{
        font-size: 25px;
        font-variant: small-caps;
        background: var(--bg-h);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & h2{
        font-variant: small-caps;
        font-size: 20px;
        margin-bottom: 5px;
        background: var(--bg-h2);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    nav{
        background: var(--bg-gradiant);
        width: 100%;
        padding: 10px;

        & ol{
            margin: 0px;
            padding: 1px;
            text-align: center;
            list-style: none;

            & li{
                display:inline-block;
                margin-right: 15px;
                margin-left: 15px;
            }

            & a{
                color: white;
                text-decoration: none;
                font-size: 15px;
            }

            & a:hover{
                color: red
            }
        }
    }  
}

main{

        padding-bottom: 10px;
        background: var(--bg-gris);
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            background: var(--bg-h2);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            padding: 15px 15px 10px;
            font-size: 30px;
        }

        p{
            text-align: center;
            padding: 0px 15px 10px;
        }

        #skills{
            margin: 30px 0px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            text-align: center;

            
            & .iconosSkill{
                padding: 0px 20px;
                font-size: 20px;
                border-radius: 10px;
                border: 1px solid ;
                height: 125px;
                width: 125px;
                align-content: center;
                background: var(--bg-radial);
            }
            
            i{
                color: red;
            }
        }

        hr{
            border: 3px dashed rgb(179, 179, 179);
            margin: auto -7px
        }

        #softskills{
            margin: 30px 0px 30px;
            padding: 0px 80px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            text-align: center;
            
        
            & .card{
                border-radius: 100px;
                border: 1px solid ;
                height: 150px;
                width: 150px;
                line-height: 30px;
                align-content: center;
                background: var(--bg-radial);
            }
        }

        i{
            color: red;

            p{
                color: #000000;
            }
        }
    

}

footer{
        text-align: center;
        background: var(--bg-gradiant);
        padding: 20px 0px;
        color: white;
        letter-spacing: 2px;

        & a{
            color: white;
        }

        & a:hover{
            color: red
        }

        .social{
            margin: 10px;
        }

        p span{
            color: red;
        }
}